data/
**/data/
*.exe
.git/
tmp/
bridge-data/
vendor/
**/node_modules/
cmd/reader-gui/
cmd/reader-setup/
**/*.zip
**/*.webm
**/*.mp4
**/*.png
**/*.jpg
coverage/
**/testdata/
**/*_test.go
**/testdata/**
e2e-artifacts/
../e2e-artifacts/
../frontend/
../docs/
../.git/
